#Sign_in_middle {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#e-mail {
    height: 40px;
    width: 70%;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color:#BDBDBD ;
    box-shadow: inset 0px 0px 3px;
    display: flex;
    align-items: center;
}
#password {
    height: 40px;
    width: 70%;
    border-radius: 10px;
    background-color:#BDBDBD ;
    box-shadow: inset 0px 0px 3px;
    display: flex;
    align-items: center;

}



.Sign_middletext {
     font-size: 10px;
     font-weight: 500;
     color:#757575 ;
    margin-left: 10px;
 }
