#caidan_title {
    height: 40px;
    display: flex;
    background-color: white;
}
#caidan_title_text {
    height: 30px;
    width: 80%;
    font-size: 15px;
    color: #212121;
 }

.caidan_title_border {
    border: 1px #DDDDDD solid;
    border-top: none;
    border-right: none;
    border-left: none;
}