.common_coffee {
    height: 20%;
    display: flex;
    align-items: center;
    flex-flow: row;
    position: relative;
}
.common_coffee_underline {
    position: absolute;
    width:96%;
    height: 100%;
    border: #CCCCCC 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
}


.common_coffee_left {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    overflow: hidden;
}
#common_coffee_picture1 {
    height: 100%;
    width: 100%;
    background-image: url("../../img/coffee榛果拿铁.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}









.common_middle {
    height: 60px;
    flex: 1;
    display: flex;
    flex-flow: column;
    margin-left: 5px;
}

.common_coffee_name {
    height:20px ;
}
.coffee_name_text {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.common_coffee_englishname {
    height: 10px;
}
.coffee_english_name-text {
    color: #757575;
    font-size: 1px
}

.common_coffee_size {
    height: 10px;
}
.coffee_size_text {
    color: #757575;
    font-size: 1px;
    margin-top: 2px
}

.common_coffee_prise {
    flex: 1;
}
.coffee_prise_text {
    font-size: 5px;
    font-weight: bold;
    align-items: end;
    justify-content: left;
    margin-top: 10px;
}








.common_right {
    height: 60px;
    width: 10%;
    display: flex;
    justify-content: right;
    align-items: flex-end;

}
.add_gouwuche {
    height: 15px;
    width: 15px;
    background-image: url("../../img/add_gouwuche.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}



.caidan_coffee_picture4 {
    height: 100%;
    width: 100%;
    background-image: url("../../img/coffee标准美式.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.caidan_coffee_picture8 {
    height: 100%;
    width: 100%;
    background-image: url("../../img/coffee抹茶拿铁.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}










#common_coffee_picture2 {
     height: 100%;
     width: 100%;
     background-image: url("../../img/coffee奥瑞白.jpg");
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
 }

#common_coffee_picture5 {
    height: 100%;
    width: 100%;
    background-image: url("../../img/coffee加浓美式.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#common_coffee_picture6 {
    height: 100%;
    width: 100%;
    background-image: url("../../img/coffee焦糖标准美式.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#common_coffee_picture7 {
    height: 100%;
    width: 100%;
    background-image: url("../../img/coffee黑金气泡美式.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#common_coffee_picture10 {
    height: 100%;
    width: 100%;
    background-image: url("../../img/coffee红茶拿铁.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}