.wechat_top {
    height: 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-family: 微软雅黑;
}

#top_left {
    height: 40px;
    flex: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#top_left_text {
    color: #707070;
    font-size: 20px;
    margin: 10px;
}

#top_right {
    height: 40px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#search {
    height: 35px;
    width: 35px;
    background-image: url("../img/chaxun.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    margin: 5px;
}
#add {
    height: 35px;
    width: 35px;
    margin: 5px;
    background-image: url("../img/add.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

#top_menu {


    display: flex;


    height: 160px;
    width: 120px;
    background-color: #313131;
    position: absolute;
    right: 10px;
    top: 50px;
    flex-flow: column;
}

#top_menu_1 {
    height: 32px;
    width: 119px;
    position: relative;
}
#top_menu_2 {
    height: 32px;
    width: 119px;

}
#top_menu_3 {
    height: 32px;
    width: 119px;

}
#top_menu_4 {
    height: 32px;
    width: 119px;

}
#top_menu_5 {
    height: 32px;
    width: 119px;

}
#qunliao {
    height:25px;
    width: 25px;
    background-image: url("../img/qunliao.svg");
    background-position: center;
    background-size: contain;
    margin: 2px;
    background-repeat: no-repeat;
}
#添加朋友 {
    height:25px;
    width: 25px;
    background-image: url("../img/添加朋友.svg");
    background-position: center;
    background-size: contain;
    margin: 2px;
    background-repeat: no-repeat;
}
#扫一扫 {
    height:25px;
    width: 25px;
    background-image: url("../img/扫一扫.svg");
    background-position: center;
    background-size: contain;
    margin: 2px;
    background-repeat: no-repeat;
}
#收付款 {
    height:25px;
    width: 25px;
    background-image: url("../img/收付款.svg");
    background-position: center;
    background-size: contain;
    margin: 2px;
    background-repeat: no-repeat;
}
#反馈 {
    height:25px;
    width: 25px;
    background-image: url("../img/反馈.svg");
    background-position: center;
    background-size: contain;
    margin: 2px;
    background-repeat: no-repeat;
}


