* {
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
}

.border {
    border: 1px red solid;
}

.xy_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

a:link { text-decoration: none;}

