.picturetop {
    height: 160px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
}
#picture {
    height: 100%;
    width: 100%;
    background-image: url("../img/picturetop1.jpg");
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

#fourpoint {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    position: absolute;
    z-index: 1;
}

#point1 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 5px;
    background-color: ghostwhite;
}
#point2 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 5px;
    background-color: grey;
    opacity: .6;
}
#point3 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 5px;
    background-color: grey;
    opacity: .6;
}
#point4 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 5px;
    background-color: grey;
    opacity: .6;
}
/*#lefticon {*/
    /*height: 40px;*/
    /*width: 40px;*/
    /*background-image: url("../img/icon_arrow_left.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: contain;*/
/*}*/
#icon {
    width: 100%;
    height: 100px;
    z-index: 2;
}
#picturetoplefticon {
    height: 50px;
    width: 100%;
    background-image: url("../img/left_icon.svg");

    background-size: 5%;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    z-index: 2;
}
#picturetoprighticon {
    height: 50px;
    width: 100%;
    background-image: url("../img/right_icon.svg");
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    z-index: 3;
}

#point2:hover {

}