.HomePagemiddle {
    height: 400px;
    display: flex;
    flex: 1;
    background-color: whitesmoke;
    font-family: 微软雅黑;
}
#row {
    height: 90%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#first_row {
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
    flex: 1;
}
.underline {
    width: 90%;
    height:97%;
    position: absolute;
    left: 20px;
    border: 1px #E0E0E0 solid;
    border-left: none;
    border-right: none;
    border-top: none;
}



#first_row_left {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#first_row_left_top {
    height: 60%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#first_row_left_top_text {
    font-size: 13px;
    margin-left: 20px;
}
#first_row_left_down {
    height: 40%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#first_row_left_down_text {
    font-size: 10%;
    margin-left: 20px;
    color: #707070;
}




#first_row_right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#first_row_right_middle {
    height:60%;
    width: 70%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow:  inset 0px 0px 2px;
}
#leftbutton {
    height: 80%;
    flex: 1;
    border-radius: 35px 15px 15px 35px;
    box-shadow:0px 0px 2px;
    margin-left: 3px;
    background-color: white;
}


#rightbutton {
    height: 80%;
    flex: 1;
    border-radius: 15px 35px 35px 15px;
    box-shadow:0px 0px 2px;
    margin-right: 3px;

}


.first_row_button_text {
    color: #795548;
    font-size: 5px;
    font-weight: bold;
}
.first_row_button_text:hover {
    color: white;
    font-size: 5px;
}




















#second_row {
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
    flex: 1;
}
#second_row_left {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#second_row_left_top {
    height: 60%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#second_row_left_top_text {
    font-size: 13px;
    margin-left: 20px;
}
#second_row_left_down {
    height: 40%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#second_row_left_down_text {
    font-size: 10%;
    margin-left: 20px;
    color: #707070;
}




#second_row_right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#second_picture {
    height: 60%;
    width: 30%;
    border-radius:50%;
    background-image: url("../../img/咖啡.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 1px solid #A1887F;
}








#third_row {
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
    flex: 1;
}
#third_row_left {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#third_row_left_top {
    height: 60%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#third_row_left_top_text {
    font-size: 13px;
    margin-left: 20px;
}
#third_row_left_down {
    height: 40%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#third_row_left_down_text {
    font-size: 10%;
    margin-left: 20px;
    color: #707070;
}




#third_row_right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#third_picture {
    height: 60%;
    width: 30%;
    border-radius:50%;
    background-image: url("../../img/优惠券.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 1px solid #A1887F;
}





















#fourth_row {
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
    flex: 1;
}
#fourth_row_left {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#fourth_row_left_top {
    height: 60%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#fourth_row_left_top_text {
    font-size: 13px;
    margin-left: 20px;
}
#fourth_row_left_down {
    height: 40%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#fourth_row_left_down_text {
    font-size: 10%;
    margin-left: 20px;
    color: #707070;
}




#fourth_row_right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fourth_picture {
    height: 60%;
    width: 30%;
    border-radius:50%;
    background-image: url("../../img/礼物 活动.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 1px solid #A1887F;
}



















#fifth_row {
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
    flex: 1;
}
#fifth_row_left {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#fifth_row_left_top {
    height: 60%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#fifth_row_left_top_text {
    font-size: 13px;
    margin-left: 20px;
}
#fifth_row_left_down {
    height: 40%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
#fifth_row_left_down_text {
    font-size: 10%;
    margin-left: 20px;
    color: #707070;
}




#fifth_row_right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fifth_picture {
    height: 60%;
    width: 30%;
    border-radius:50%;
    background-image: url("../../img/企业服务.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 1px solid #A1887F;
}
