.HomePagedown {
    height: 55px;

    background-color: white;
    display: flex;
    flex-flow: row;
}


.shouye {
    width: 20%;
    flex: 1;
    background-image: url("../../img/shouyepress.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.caidan {
    width: 20%;
    flex: 1;
    background-image: url("../../img/caidan.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    margin-top: 2px;
}
.dingdan {
    width: 20%;
    flex: 1;
    background-image: url("../../img/dingdan.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.gouwuche {
    width: 20%;
    flex: 1;
    background-image: url("../../img/gouwuche.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.wode {
    width: 20%;
    flex: 1;
    background-image: url("../../img/wode.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

