.picturedown {
    height: 60px;
    display: flex;
    background-color: whitesmoke;
    align-items: flex-start;
}

#picture_down_frame {
    height: 80%;
    width: 70%;
    border-radius: 5px;
    background-image: url("../../img/picturedown.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.picturedownborder {
border: 1px #E0E0E0 solid;
border-left: none;
border-right: none;
border-top: none;
}