.single {
    height: 22px;
    background-color: #212121;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: white;
    font-family: 微软雅黑;

}

#singleleft {
    height: 30px;
    flex: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#xinhao{
    width: 50px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    margin-left: 4px;
    margin-bottom: 10px;
}
#xinhao div{
    width: 3px;
    margin-left: 3px;
    border-radius: 1px;
}
#xinhao div:nth-child(1){
    height: 6px;
}
#xinhao div:nth-child(2){
    height: 10px;
}
#xinhao div:nth-child(3){
    height: 14px;
}
#xinhao div:nth-child(4){
    height: 18px;
}
.single_ok {
    background-color: white;
}
.single_no {
    background-color: gray;
}
#operator {
    width: 90px;
    color: white;
    font-size: 8px;
    transform:translate(-15px);
    margin-bottom: 5px;
}

#singlemiddle {
    height: 30px;
    width: 80px;
}

#time {
    font-family: 微软雅黑;
    font-size: 13px;
    margin-bottom: 5px;
}
#singleright {
    height: 30px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
#battery{
    height: 30px;
    width: 70px;
    margin-right: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}
#batteryshell {
    height: 10px;
    width: 25px;
    border: white 1px solid;
    border-radius: 1px;
    border-radius: 2px 2px 2px 2px;
}
#batteryhead {
    height: 6px;
    width: 2px;
    background-color: white;
    border-radius: 0px 1px 1px 0px;
}
#batterypower {
    height: 8px;
    width: 16px;
    background-color: red;
    margin: 1px;
    animation: charge 5s linear infinite;
}
@keyframes charge {
    0% {
        background-color: red;
        width: 1px;
    }

    20% {
        background-color: yellow;
        width: 7px;
    }

    80% {
        background-color: yellow;
        width : 20px;
    }
    100% {
        background-color: green;
        width : 25px;
    }
}
#wififrame {
    height:15px;
    width: 14px;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/wifi.svg");
    background-position: center;
    background-size: contain;
    margin-bottom: 5px;
    transform: translate(65px);
}

#bellframe {
    height:18px;
    width: 18px;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/闹钟.svg");
    background-position: center;
    background-size: contain;
    margin-bottom: 5px;
    margin-left: 5px;
    transform: translate(20px);
    z-index: 1;
}

#volume {
    height:18px;
    width: 18px;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/音量-高.svg");
    background-position: center;
    background-size: contain;
    margin-bottom: 5px;
    margin-left: 5px;
    transform: translate(-25px);
    z-index: 1;
}

